<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.user.app">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/list"
        android:label="@string/app_name"
        android:roundIcon="@drawable/list"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.user.app.view.ViewJournal"></activity>
        <activity android:name="com.user.app.view.MainActivity" />
        <activity android:name="com.user.app.view.CreateJournal" />
        <activity android:name="com.user.app.view.MonthView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.user.app.view.MyJournal" />
        <activity android:name="com.user.app.view.MoodList" />
        <activity android:name="com.user.app.view.MoodTracker" />
    </application>

</manifest>